<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category  Symmetrics
 * @package   Symmetrics_Invoice
 * @author    symmetrics gmbh <info@symmetrics.de>
 * @author    Eugen Gitin <eg@symmetrics.de>
 * @author    Yauhen Yakimovich <yy@symmetrics.de>
 * @copyright 2009-2010 symmetrics gmbh
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      http://www.symmetrics.de/
 */
-->
<config>
    <modules>
        <Symmetrics_Invoice>
            <version>0.1.22</version>
        </Symmetrics_Invoice>
    </modules>
    <global>
        <models>
            <invoice>
                <class>Symmetrics_Invoice_Model</class>
            </invoice>
        </models>
        <blocks>
            <invoice>
                <class>Symmetrics_Invoice_Block</class>
            </invoice>
        </blocks>
        <helpers>
            <invoice>
                <class>Symmetrics_Invoice_Helper</class>
            </invoice>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Symmetrics_Invoice>
                    <files>
                        <default>Symmetrics_Invoice.csv</default>
                    </files>
                </Symmetrics_Invoice>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Symmetrics_Invoice>
                    <files>
                        <default>Symmetrics_Invoice.csv</default>
                    </files>
                </Symmetrics_Invoice>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <invoice>
                <active>0</active>
                <model>invoice/method_invoice</model>
                <order_status>pending</order_status>
                <title>Invoice Payment</title>
                <allowspecific>0</allowspecific>
            </invoice>
        </payment>
    </default>
</config>
